{{#partial "page"}}
<div class="page-heading-wrapper-2">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h2 class="page-heading">
        {{#if forms.wishlist.id}}
            {{lang 'account.wishlists.edit'}}
        {{else}}
            {{#if forms.wishlist.action}}
                {{lang 'account.wishlists.new'}}
            {{else}}
                {{lang 'account.wishlists.heading'}}
            {{/if}}
        {{/if}}
    </h2>
</div>
<div class="page">
    <div class="themevale_container">
        {{#if settings.show_wishlist}}
            {{> components/account/navigation account_page='wishlists'}}
            <div class="account themevale_account">
                {{> components/account/add-wishlist}}
            </div>
        {{/if}}
    </div>
</div>
{{/partial}}
{{> layout/base}}
