<article class="card {{#if alternate}}card--alternate{{/if}} cardpro">
    <figure class="card-figure">
        {{#or price.non_sale_price_with_tax price.non_sale_price_without_tax}}
            {{#if theme_settings.product_sale_badges '===' 'sash'}}
                <div class="sale-flag-sash">
                    <span class="sale-text">On Sale!</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'topleft'}}
                <div class="sale-flag-side">
                    <span class="sale-text">On Sale!</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'burst'}}
                <div class="starwrap">
                    <div class="sale-text-burst">On Sale!</div>
                    <div class="sale-flag-star"></div>
                </div>
            {{/if}}
        {{/or}}
        <div class="image-block">
            {{#if demo}}
                <div class="card-img-container">
                    <img class="card-image lazyload mx-auto d-block" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                </div>
            {{else}}
                <a href="{{url}}">
                    <div class="card-img-container">
                        <img class="card-image lazyload mx-auto d-block" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                    </div>
                    {{#each (limit images 2)}}
                    {{#if @index '>' 0}}
                        <img src="{{getImage this 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}" class="second-img">
                    {{/if}}
                    {{/each}}
                </a>
            {{/if}}
            <div class="topbutton">
                <div class="bwish">
                    <form action="{{add_to_wishlist_url}}" class="form-wishlist form-action" data-wishlist-add method="post">     
                         <button type="submit" value="{{lang 'account.wishlists.add_to_default'}}">
                            <svg width="20px" height="20px"><use xlink:href="#wishlist"></use></svg>
                        </button>
                    </form>
                </div>
                 <label class="bcom" for="compare-{{id}}" title="{{lang 'products.compare'}}">
                    <!-- {{lang 'products.compare'}} --> <input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">
                    <svg width="20px" height="20px"><use xlink:href="#pcom"></use></svg>
                </label>
                 
                {{#unless hide_product_quick_view}}
                    {{#if theme_settings.show_product_quick_view}}
                        {{#unless demo}}
                        <div class="bquick">
                            
                            <a href="#" class="quickview" data-product-id="{{id}}" title="{{lang 'products.quick_view'}}"><svg width="20px" height="20px"><use xlink:href="#pquick"></use></svg><!-- {{lang 'products.quick_view'}} --></a>
                        </div>
                        {{/unless}}
                    {{/if}}
                {{/unless}}
            </div>
                
        </div>
     
        <div class="card-body">
            <h4 class="card-title">
                {{#if demo}}
                    {{name}}
                {{else}}
                    <a href="{{url}}">{{name}}</a>
                {{/if}}
            </h4>
            
           <!--  {{#if brand.name}}
                <p class="card-text" data-test-info-type="brandName">{{brand.name}}</p>
            {{/if}} -->
        <div class="proprore">
             {{#if show_rating}}
                <div class="card-text pull-left" data-test-info-type="productRating">
                    <span class="rating--small">
                        {{> components/products/ratings rating=rating}}
                    </span>
                </div>
            {{/if}}
            
            <div class="card-text text-right" data-test-info-type="price">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{> components/products/price price=price}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
                {{> components/products/bulk-discount-rates}}
            </div>
        </div>
        
        <figcaption class="allbtn">
            <div class="button-group">
                 {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{#if show_cart_action}}
                        {{#if has_options}}
                        <div class="bcart">
                            <!-- <svg width="17px" height="17px"><use xlink:href="#bcart"></use></svg> -->
                            <a href="{{url}}" class="button button--primary" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                        </div>
                        {{/if}}
                        {{#if pre_order}}
                        <div class="bcart">
                            <!-- <svg width="17px" height="17px"><use xlink:href="#bcart"></use></svg> -->
                            <a href="{{pre_order_add_to_cart_url}}" class="button button--primary">{{lang 'products.pre_order'}}</a>
                        </div>
                        {{/if}}
                        {{#if add_to_cart_url }}
                        <div class="bcart">
                            <!-- <svg width="17px" height="17px"><use xlink:href="#bcart"></use></svg> -->
                            <a href="{{add_to_cart_url}}" class="button button--primary">{{lang 'products.add_to_cart'}}</a>
                        </div>
                        {{/if}}
                        {{#if out_of_stock_message }}
                        <div class="bcart">
                            <!-- <svg width="17px" height="17px"><use xlink:href="#bcart"></use></svg> -->
                            <a href="{{url}}" class="button button--primary" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                        </div>
                        {{/if}}
                    {{/if}}
                {{/or}}
            </div>
        </figcaption>
        </div>
    </figure>
    
</article>
