<div class="themevale_products-filter themevale_sidebar-mobile-wrapper">
	<div class="item text-left">
		<div class="themevale_sidebar-mobile">
			<svg class="icon"><use xlink:href='#sidebar'></use></svg>
			<span class='text'>show sidebar</span>
		</div>
	</div>
	<div class="item text-right">
		{{> components/products/filter sort=pagination.category.sort}}
	</div>
</div>
<form action="{{urls.compare}}" method='POST' data-product-compare>
    {{#if theme_settings.product_list_display_mode '===' 'grid'}}
        {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
    {{else}}
        {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
    {{/if}}
</form>
{{> components/common/paginator pagination.category}}
