<div class="modal-body quickView">
    <div class="productView themevalte_productView">
        {{#each product.reviews.messages}}
            {{#if error}}
                {{> components/common/alert-error error}}
            {{/if}}
            {{#if success}}
                {{> components/common/alert-success success}}
            {{/if}}
        {{/each}}
        <div class="themevalte_productView-left">
            <div class="themevalte_productView-images zoom-image" data-image-gallery>
                <div class="productView-nav" data-slick='{
                    "arrows": false,
                    "dots": false,
                    "infinite": true,
                    "slidesToShow": 1,
                    "slidesToScroll": 1,
                    "asNavFor": ".themevalte_productView-images .productView-for"
                }'>
                    {{#each product.images}}
                        <figure class="productView-image"
                            data-image-gallery-main
                            data-zoom-image="{{getImage this 'zoom_size' (cdn theme_settings.default_image_product)}}">
                            <div class="productView-img-container">
                                <a href="{{getImage this 'zoom_size' (cdn theme_settings.default_image_product)}}">
                                    <img class="productView-image--default lazyload"
                                        data-sizes="auto"
                                        src="{{cdn 'img/loading.svg'}}"
                                        data-src="{{getImage this 'product_size' (cdn theme_settings.default_image_product)}}"
                                        alt="{{product.main_image.alt}}" title="{{product.main_image.alt}}" data-main-image>
                                </a>
                            </div>
                        </figure>
                    {{/each}}
                </div>
                <div class="productView-for" data-slick='{
                    "arrows": true,
                    "dots": false,
                    "infinite": true,
                    "focusOnSelect": true,
                    "slidesToShow": 4,
                    "slidesToScroll": 1,
                    "asNavFor": ".themevalte_productView-images .productView-nav",
                    "nextArrow": "<svg class=&apos;slick-next slick-arrow&apos;><use xlink:href=&apos;#slick-arrow-next&apos;></use></svg>", 
                    "prevArrow": "<svg class=&apos;slick-prev slick-arrow&apos;><use xlink:href=&apos;#slick-arrow-prev&apos;></use></svg>",
                    "responsive": [
                        {
                            "breakpoint": 1025,
                            "settings": {
                                "slidesToShow": 4,
                                "slidesToScroll": 1
                            }
                        },
                        {
                            "breakpoint": 415,
                            "settings": {
                                "slidesToShow": 3,
                                "slidesToScroll": 1
                            }
                        }
                    ]
                }'>
                    {{#each product.images}}
                        <div class="productView-thumbnail">
                            <a 
                                class="productView-thumbnail-link"
                                data-image-gallery-item
                                data-image-gallery-new-image-url="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}"
                                data-image-gallery-zoom-image-url="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}">
                                <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage this 'productview_thumb_size' (cdn ../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="themevalte_productView-right">
            <section class="productView-details">
                <div class="productView-product">
                    <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
                    {{#if product.brand}}
                        <h2 class="productView-brand"{{#if schema}} itemprop="brand" itemscope itemtype="http://schema.org/Brand"{{/if}}>
                            <a href="{{product.brand.url}}"{{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>{{product.brand.name}}</span></a>
                        </h2>
                    {{/if}}
                    {{#if product.call_for_price}}
                        <p class="productView-price">
                            <span>{{product.call_for_price}}</span>
                        </p>
                    {{/if}}
                    <div class="productView-price">
                        {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                            {{> components/products/price price=product.price schema_org=schema}}
                        {{else}}
                            {{> components/common/login-for-pricing}}
                        {{/or}}
                    </div>
                    {{{region name="product_below_price"}}}
                    <div class="productView-rating"{{#if product.num_reviews '>' 0}}{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}{{/if}}>
                        {{#if settings.show_product_rating}}
                            {{#if product.num_reviews '>' 0}}
                                {{#if schema}}
                                    <meta itemprop="ratingValue" content="{{product.rating}}">
                                    <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                                    <meta itemprop="reviewCount" content="{{product.num_reviews}}">
                                {{/if}}
                            {{/if}}
                            {{> components/products/ratings rating=product.rating}}
                            <span class="productView-reviewLink">
                                {{#if product.num_reviews '>' 0}}
                                    <a href="{{product.url}}#product-reviews">
                                        {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                                    </a>
                                {{else}}
                                    {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                                {{/if}}
                            </span>
                        {{/if}}
                        {{#if settings.show_product_reviews}}
                            <span class="productView-reviewLink">
                                <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
                                   {{#unless is_ajax }}data-reveal-id="modal-review-form"{{/unless}}>
                                   {{lang 'products.reviews.new'}}
                                </a>
                            </span>
                            {{> components/products/modals/writeReview}}
                        {{/if}}
                    </div>
                    {{product.detail_messages}}
                    <dl class="productView-info">
                        {{#if product.sku}}
                            <dt class="productView-info-name">{{lang 'products.sku'}}</dt>
                            <dd class="productView-info-value" data-product-sku>{{product.sku}}</dd>
                        {{/if}}
                        {{#if product.upc}}
                            <dt class="productView-info-name">{{lang 'products.upc'}}</dt>
                            <dd class="productView-info-value" data-product-upc>{{product.upc}}</dd>
                        {{/if}}
                        {{#if product.condition}}
                            <dt class="productView-info-name">{{lang 'products.condition'}}</dt>
                            <dd class="productView-info-value">{{product.condition}}</dd>
                        {{/if}}
                        {{#if product.availability}}
                            <dt class="productView-info-name">{{lang 'products.availability'}}</dt>
                            <dd class="productView-info-value">{{product.availability}}</dd>
                        {{/if}}
                        {{#all product.weight theme_settings.show_product_weight}}
                            <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                            <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                        {{/all}}
                        {{#all product.width product.height product.depth theme_settings.show_product_dimensions}}
                            <dt class="productView-info-name">{{lang 'products.width'}}</dt>
                            <dd class="productView-info-value" data-product-width>
                                {{product.width}}
                                {{#if settings.measurements.length '==' 'Centimeters'}}
                                ({{lang 'products.measurement.metric'}})
                                {{else}}
                                ({{lang 'products.measurement.imperial'}})
                                {{/if}}
                            </dd>
                            <dt class="productView-info-name">{{lang 'products.height'}}</dt>
                            <dd class="productView-info-value" data-product-height>
                                {{product.height}}
                                {{#if settings.measurements.length '==' 'Centimeters'}}
                                ({{lang 'products.measurement.metric'}})
                                {{else}}
                                ({{lang 'products.measurement.imperial'}})
                                {{/if}}
                            </dd>
                            <dt class="productView-info-name">{{lang 'products.depth'}}</dt>
                            <dd class="productView-info-value" data-product-depth>
                                {{product.depth}}
                                {{#if settings.measurements.length '==' 'Centimeters'}}
                                ({{lang 'products.measurement.metric'}})
                                {{else}}
                                ({{lang 'products.measurement.imperial'}})
                                {{/if}}
                            </dd>
                        {{/all}}
                        {{#if product.min_purchase_quantity}}
                            <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                        {{/if}}
                        {{#if product.max_purchase_quantity}}
                            <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                        {{/if}}
                        {{#if product.gift_wrapping_available}}
                            <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                        {{/if}}
                        {{#if product.shipping}}
                            {{#if product.shipping.calculated}}
                                <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                                <dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
                            {{else}}
                                {{#if product.shipping.price.value '===' 0}}
                                    <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                                    <dd class="productView-info-value">{{lang 'products.shipping_free'}}</dd>
                                {{else}}
                                    <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                                    <dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                                {{/if}}
                            {{/if}}
                        {{/if}}

                        <div class="productView-info-bulkPricing">
                            {{> components/products/bulk-discount-rates bulk_discount_rates=product.bulk_discount_rates}}
                        </div>

                        {{#each product.custom_fields}}
                            <dt class="productView-info-name">{{name}}:</dt>
                            <dd class="productView-info-value">{{{value}}}</dd>
                        {{/each}}
                    </dl>
                </div>
                <div class="productView-options">
                    {{#if product.release_date }}
                        <p>{{product.release_date}}</p>
                    {{/if}}
                    <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                          data-cart-item-add>
                        <input type="hidden" name="action" value="add">
                        <input type="hidden" name="product_id" value="{{product.id}}"/>
                            {{#each product.customizations}}
                                {{{dynamicComponent 'components/products/customizations'}}}
                            {{/each}}
                        <div data-product-option-change style="display:none;">
                            {{#each product.options}}
                                {{{dynamicComponent 'components/products/options'}}}
                            {{/each}}
                        </div>
                        {{#if product.event_date}}
                            {{> components/products/event-date}}
                        {{/if}}
                        <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                            <label class="form-label form-label--alternate">
                                {{lang 'products.current_stock'}}
                                <span data-product-stock>{{product.stock_level}}</span>
                            </label>
                        </div>
                        {{#if product.can_purchase}}
                            {{> components/products/add-to-cart}}
                        {{/if}}
                        {{#if product.out_of_stock}}
                            {{#if product.out_of_stock_message}}
                                {{> components/common/alert-error product.out_of_stock_message}}
                            {{else}}
                                {{> components/common/alert-error (lang 'products.sold_out')}}
                            {{/if}}
                        {{/if}}
                    </form>
                    {{#if settings.show_wishlist}}
                        <form class="form button-wishlist" method="post" action="{{product.add_to_wishlist_url}}" data-wishlist-add>
                            <input type="hidden" name="variation_id" value="">
                            <button class="button button-transparent" type="submit">
                                <span class="icon icon--heart"><svg><use xlink:href="#icon-heart2"></use></svg></span>
                                <span class="text">{{lang 'account.wishlists.add_item'}}</span>
                            </button>
                        </form>
                    {{/if}}
                </div>
                {{{snippet 'product_details'}}}
            </section>
        </div>
    </div>
    <div id="previewModal" class="modal" data-reveal>
        <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
            <span aria-hidden="true">&#215;</span>
        </a>
        <div class="modal-content"></div>
        <div class="loadingOverlay"></div>
    </div>
</div>
