<div class="foot-about">
{{#if page_type '===' 'default'}}
    <div class="header-logo header-logo--{{theme_settings.logo-position}}">
        {{> components/common/store-logo}}
    </div>
{{else}}
    <div class="header-logo header-logo--{{theme_settings.logo-position}}">
        {{> components/common/store-logo}}
    </div>
{{/if}}
<p>Since 1976, Bullseye Guns have served American communities by providing quality tactical, sporting and personal-protection firearms for our citizens. We also provide the expertise and training to use guns responsibly and enjoy the fun—and peace of mind—of gun ownership.

<br><br>Rely on Bullseye Guns for gun licensing, repairs, antique gun restoration and upgrades guided by master gunsmiths. Plus, take advantage of training and skills-building at our indoor shooting range, competitive target-shooting leagues, talks by experts, events and more.</p>
</div>
