<div class="deliveryinfo">
	<div class="">
		<div class="row">
			<ul class="col-12 col-sm-6 col-lg-3 list-inline">
				<li class="del1 d-inline-block"><svg width="36px" height="36px"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gift"></use> </svg></li>
				<li class="se1 d-inline-block text-xs-left">
				<h4>special gift cards</h4>
				<p>give a perfect gift</p>
				</li>
			</ul>
			<ul class="col-12 col-sm-6 col-lg-3 sborder list-inline">
				<li class="del4 d-inline-block"><svg width="36px" height="36px"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pay"></use> </svg></li>
				<li class="se1 d-inline-block text-xs-left">
				<h4>SSL Secured</h4>
				<p>100% secure payment</p>
				</li>
			</ul>
			<ul class="col-12 col-sm-6 col-lg-3 sborder list-inline">
				<li class="del2 d-inline-block"><svg width="36px" height="36px"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#support"></use> </svg></li>
				<li class="se1 d-inline-block text-xs-left">
				<h4>Customer support</h4>
				<p>(703) 988-2355</p>
				</li>
			</ul>
			<ul class="col-12 col-sm-6 col-lg-3 sborder list-inline">
				<li class="del3 d-inline-block"><svg width="36px" height="36px"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ship"></use> </svg></li>
				<li class="se1 d-inline-block text-xs-left">
				<h4>Shipping</h4>
				<p>Flat Rates / Live Rates</p>
				</li>
			</ul>
		</div>
	</div>
</div>
