<div class="parallex leftprobg">
	
	<div class="prl text-center">
		<div id="owl-testi" class="owl-carousel">
			<div class="item">
				<div class="crousel-content">
					<img class="img-responsive center-block" src="http://bullseyegun.com/product_images/theme_images/testim-1.jpg">
					<h4>Antoine Hicks</h4>
					<h5>Customer</h5>
                    <hr>
					<p><img class="img-responsive" src="http://bullseyegun.com/product_images/theme_images/quote-1.jpg">Great place to practice your shooting and it's staff is very good in teaching everything you need to know about guns and how to use them. If you're looking  to get your G and conceal weapons, this is the best place to go...<br><br>
Gun shop in Jacksonville, Florida
<br>
Google reviews</p>
				</div>
			</div>
			<div class="item">
				<div class="crousel-content">
					<img class="img-responsive center-block" src="http://bullseyegun.com/product_images/theme_images/testim-2.jpg">
					<h4>Maheshvara1</h4>
					<h5>Customer</h5>
                    <hr>
					<p><img class="img-responsive" src="http://bullseyegun.com/product_images/theme_images/quote-1.jpg" src="">I was greeted by Rob and given all the Range rules (which vay from range to range) which was great, everything up front, no surprises...<br><br>
Gun shop in Jacksonville, Florida
<br>
Google reviews</p>
				</div>
			</div>
			<div class="item">
				<div class="crousel-content">
					<img class="img-responsive center-block" src="http://bullseyegun.com/product_images/theme_images/testim-3.jpg">
					<h4>Kenny Rivera</h4>
					<h5>Customer</h5>
                    <hr>
					<p><img class="img-responsive" src="http://bullseyegun.com/product_images/theme_images/quote-1.jpg" src="">I'm from out of town and needed a new holster.  The staff was nice, friendly and knowledgeable...<br><br>
Gun shop in Jacksonville, Florida
<br>
Google reviews</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- testimonial -->
<script type="text/javascript">
    $(document).ready(function() {
    $("#owl-testi").owlCarousel({
    itemsCustom : [
    [0, 1],
    [600, 1],
    [801, 1],
    [1200,1],
    [1600, 1]
    ],
            // autoPlay:3000,
             navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
            navigation : false,
            pagination:true
    });
    });
</script>
<!-- testimonial end -->
