<div class="webitopbanner">
	<div class="row">
		<div class="col-12 col-lg-3 col-sm-4 col-md-4 fbanner">
			<div class="beffect">
				{{#if (lang 'webitopbanner.banner1.image') '!=' ' '}}
				<a href="/firearm-classes/"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn (lang 'http://bullseyegun.com/product_images/theme_images/banner-1.png')}}"  alt="{{title}}"  /></a>
				{{else}}
				<a href="{{url}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn (lang 'webitopbanner.banner1.placeholderImage')}}" alt="{{title}}"  /></a>
				{{/if}}
			</div>
		</div>
		<div class="cbanner col-12 col-lg-6 col-sm-8 col-md-8">
			<div class="beffect">
				{{#if (lang 'webitopbanner.banner2.image') '!=' ' '}}
				<a href="http://bullseyegun.com/glock-43x-9mm-10rd-silver/"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn (lang 'http://bullseyegun.com/product_images/theme_images/banner-3.png')}}"  alt="{{title}}"  /></a>
				{{else}}
				<a href="{{url}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn (lang 'webitopbanner.banner2.placeholderImage')}}" alt="{{title}}"  /></a>
				{{/if}}
			</div>
			<div class="beffect">
				{{#if (lang 'webitopbanner.banner3.image') '!=' ' '}}
				<a href="http://bullseyegun.com/sig-p365-9mm-3-1-10rd-ns/"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn (lang 'http://bullseyegun.com/product_images/theme_images/banner-4.png')}}"  alt="{{title}}"  /></a>
				{{else}}
				<a href="{{url}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn (lang 'webitopbanner.banner3.placeholderImage')}}" alt="{{title}}"  /></a>
				{{/if}}
			</div>
		</div>
		<div class="col-12 col-lg-3 col-sm-4 tbanner">
			<div class="beffect">
				{{#if (lang 'webitopbanner.banner4.image') '!=' ' '}}
				<a href="/contact-us/"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn (lang 'http://bullseyegun.com/product_images/theme_images/banner-2.png')}}"  alt="{{title}}"  /></a>
				{{else}}
				<a href="{{url}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn (lang 'webitopbanner.banner4.placeholderImage')}}" alt="{{title}}"  /></a>
				{{/if}}
			</div>
		</div>
	</div>
</div>
