// =============================================================================
// SOCIAL LINKS (Settings)
// =============================================================================

$socialLinks-iconSize:                  16px;

$socialLinks-alt-iconSize:              17px;
$socialLinks-alt-iconColor:             stencilColor("color-textSecondary");
