// =============================================================================
// CUSTOMS (CSS)
//
// 1. Please style your css in there
//
// =============================================================================

/*=========================================
=            www.themevale.com            =
=========================================*/




.themevale_bottomFooter {
    display: none !important;
    visibility: none !important;
    opacity: 0 !important;
}

.header {
    background-color: #ffffff !important;
}

.navPages-action {
    color: #000000 !important;
}

.themevalte_productView-images .productView-img-container>a img {
    height: auto !important;
}

.themevalte_productView-images .productView-for .productView-thumbnail>a img {
    height: auto !important;
}

.banner-content {
}

.themevale_banner-list {
    
}

.service-wrapper {
    display: none;
}

.banner-header-top {
    display: none;
}
    
.themevale_tabToggle productCustomTab2 toggle-title {
    display: none ;
}

.sideCustomCMS {
    display: none;
}

.side-cms-content {
    display: none;
}

.sidebarBlock {
    display: none;
}

.page-heading-wrapper {
    background-color: #ffffff;
}

.themevale_mainFooter {
    background-color: #6D1215;
}

.body {
    color: #000000;
}

.breadcrumbs {
    color: #000000 !important;
}

.breadcrumb-label {
    color: #000000 !important;
}

.page-heading {
    color: #000000 !important;
}

.banner-parallax {
    text-align: center;
}

.header-logo-image {
    max-height: 250px !important;
}

.navPages-list {
    valign: middle;
}

.banners {
    background-color: #E6E6E6 !important;
    color: #6D1215 !important;
}

.newsletter-popup-container {
}

.themevale_banner-wrapper {
    border-radius: 5px;
}

