// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
//    between it and the header on all situations. If you change the spacing here,
//    please update .heroCarousel too.
//
// =============================================================================


.body {
    padding-top:30px;
    padding-bottom:30px;
}

a{
    color: $color-black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a:hover{
    color: $color-primary;
}


// .page-content,
// .page-content--full {
//     @include grid-column(12);
// }


.page-content--textCenter {
    text-align: center;
}

// .page-sidebar {
//     @include grid-column(12);
//     position: relative;

//     @include breakpoint("medium") {
//         @include grid-column(3);
//     }
// }
